@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/image1.jpg");
}

.container {
    background-color: #101720;
    color: #FFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-weight: 500;
}

.board {
    width: 400px;
    margin: 20px auto;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    color: #FFF;
    background-color: #9f6c4c;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-style: italic;
    font-weight: bold;
}

button:hover {
    background-color: #deb081;
}

.move-history {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    overflow-y: scroll;
    background-color: #f2f2f2;
    color: #000;
}